@import '~/src/renderer/scss/utils.scss';

.VirtualLibraryItem {
  display: flex;
  flex-direction: column;

  > .header {
    display: flex;
    align-items: center;
    padding: 0 2px;
    height: 44px;

    @media (min-width: $sm) and (min-height: $sm) {
      padding: 0 4px;
      height: 48px;
    }

    @media (min-width: $lg) and (min-height: $md) {
      padding: 0 8px;
      height: 52px;
    }

    > button {
      display: flex;
      flex-direction: column;

      > p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: var(--text-primary);

        &.subtitle {
          color: var(--text-secondary);
        }
      }
    }

    > .divider {
      flex-grow: 1;
      height: 1px;
      margin-left: 6px;
      background-color: $grey2;
    }
  }

  > .albums {
    display: flex;
    flex-wrap: wrap;
    
    @media (min-width: $sm) and (min-height: $sm) {
      padding: 0 4px;
    }

    @media (min-width: $lg) and (min-height: $md) {
      padding: 0 8px;
    }

    > .album {
      display: flex;
      width: 74px;
      height: 74px;
      padding: 1px;

      @media (min-width: $sm) and (min-height: $sm) {
        width: 124px;
        height: 124px;
      }

      @media (min-width: $lg) and (min-height: $md) {
        width: 336px;
        height: 150px;
        padding: 2px;
      }

      > button {
        display: flex;

        > img {
          object-fit: contain;
          width: 74px;
          height: 74px;

          @media (min-width: $sm) and (min-height: $sm) {
            width: 124px;
            height: 124px;
          }
    
          @media (min-width: $lg) and (min-height: $md) {
            width: 150px;
            height: 150px;
          }
        }
      }

      > .metadata {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 4px 8px;

        @media (min-width: $lg) and (min-height: $md) {
          display: flex;
        }

        > .primary {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          font-weight: 500;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: var(--text-primary);
        }

        > .secondary {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          font-weight: 500;
          -webkit-box-orient: vertical;
          color: var(--text-secondary);
        }

        > .TablePair {
          margin-top: 8px;
        }
      }
    }
  }
}