@import '../utils.scss';

body.light {
  --primary: #{$primary};
  --primary-active: #{$primary}#{$opacitySecondary};
  --primary-inactive: #{$primary}#{$opacityInactive};
  --primary-contrast: #{$grey6};
  --primary-contrast-secondary: #{$grey5};
  --text-primary: #{$grey0};
  --text-secondary: #{$grey1};
  --text-disabled: #{$grey2};
  --hover: #{$black}#{$opacityHover};
  --border: #{$grey4};
  --scrollbar: #{$grey5};
  --scrollbar-thumb: #{$grey6};
  --input-text: #{$grey6};
  --overlay: #{$grey6}#{$opacityOverlay};
  --popper: #{$grey6};
  --toggle: #{$grey2};
  --list-item: #{$white}#{$opacityPrimary};
  --list-item-hover: #{$grey5};
  --app: #{$grey6};
  --library: #{$white};
  --error: #{$error};
  --window: #{$grey6};
}
