@import '../utils.scss';

body.dark {
  --primary: #{$primary};
  --primary-active: #{$primary}#{$opacitySecondary};
  --primary-inactive: #{$primary}#{$opacityInactive};
  --primary-contrast: #{$grey6};
  --primary-contrast-secondary: #{$grey5};
  --text-primary: #{$grey6};
  --text-secondary: #{$grey5};
  --text-disabled: #{$grey4};
  --hover: #{$white}#{$opacityHover};
  --border: #{$grey2};
  --scrollbar: #{$grey2};
  --scrollbar-thumb: #{$grey3};
  --input-text: #{$grey0};
  --overlay: #{$grey0}#{$opacityOverlay};
  --popper: #{$grey1};
  --toggle: #{$grey2};
  --list-item: #{$grey2}#{$opacityPrimary};
  --list-item-hover: #{$grey2};
  --app: #{$grey1};
  --library: #{$grey1};
  --error: #{$error};
  --window: #{$grey0};
}