@import '~/src/client/scss/utils.scss';

.Search {
  display: flex;
  align-items: center;
  height: fit-content;
  min-width: 0;
  padding: 4px 8px;
  color: var(--text-disabled);
  background-color: var(--input-text);

  &.active {
    color: var(--text-primary);
  }

  > input {
    @extend %input-base;
  }
}