@import '~/src/client/scss/utils.scss';

.Toggle {
  cursor: pointer;
  background-color: var(--toggle);
  border-radius: 8px;
  padding: 4px;
  width: 36px;
  outline: 0;
  flex-shrink: 0;
  transition: background-color $transitionShortest;

  &.active {
    background-color: var(--primary);

    > .thumb {
      transform: translateX(18px);
    }
  }

  > .thumb {
    background-color: var(--primary-contrast);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: transform $transitionShortest;
  }
}