@use 'typography';
@use 'breakpoint';

.PlayerMeta {
  > span {
    @include typography.nowrap;
    display: block;

    &.title {
      font-weight: 500;
    }

    &.artist {
      @include typography.caption;
    }

    &.label {
      @include typography.caption;
      display: none;

      @media (min-height: breakpoint.$sm-h) {
        display: block;
      }
    }
  }
}