@use './utils.scss';

@mixin size($size) {
  font-family: NotoSansJP, sans-serif;
  font-size: utils.rem($size);
}

@mixin nowrap {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clamp($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}