@use './utils.scss';

@mixin body {
  font-size: utils.pxToRem(14);
}

@mixin caption {
  font-size: utils.pxToRem(13);
}

@mixin heading {
  font-size: utils.pxToRem(18);
}

@mixin nowrap {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clamp($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}