@use './utils.scss';

@mixin tiny {
  font-family: NotoSansJP, sans-serif;
  font-size: utils.rem(10);
  letter-spacing: utils.rem(0.5);
}

@mixin small {
  font-family: NotoSansJP, sans-serif;
  font-size: utils.rem(12);
  letter-spacing: utils.rem(0.25);
}

@mixin normal {
  font-family: NotoSansJP, sans-serif;
  font-size: utils.rem(13);
  letter-spacing: utils.rem(0.5);
}

@mixin large {
  font-family: NotoSansJP, sans-serif;
  font-size: utils.rem(18);
  letter-spacing: utils.rem(0.25);
}

@mixin nowrap {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clamp($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}