// Shadow
$shadow-low: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow-medium: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14),
  0px 1px 10px 0px rgba(0, 0, 0, 0.12);
$shadow-high: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14),
  0px 3px 14px 2px rgba(0, 0, 0, 0.12);

// Transition
$transition-fast: 120ms ease-in-out;

// Z-index
$z-backdrop: 100;
$z-popup: 110;

// Media queries
$w-xs: 320px;
$w-sm: 480px;
$w-md: 720px;
$w-lg: 960px;
$w-xl: 1280px;

$h-xs: 240px;
$h-sm: 320px;
$h-md: 480px;
$h-lg: 720px;
$h-xl: 960px;
