@use 'typography.scss';

.Menu {
  position: relative;

  > .Popup {
    @include typography.size(13);
    padding: 4px 0;
  
    > ul > .MenuItem {
      padding: 2px 8px;
  
      > button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
