@use 'typography.scss';

.Menu {
  @include typography.normal;
  padding: 4px 0;

  .MenuItem {
    padding: 2px 8px;

    > button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
  }
}
