@use 'utils.scss';
@use 'variables.scss' as v;

.ButtonIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--text-inactive);
  transition: background-color v.$transition-fast;

  > svg > path {
    transition: fill v.$transition-fast;
  }

  @include utils.hover {
    cursor: pointer;
    fill: var(--text);
    background-color: var(--hover);
  }
}