.Queue {
  flex-grow: 1;

  > .header {
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  .VirtualItem > button {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    gap: 0.5rem;
    background-color: var(--surface-medium);

    &.active {
      background-color: var(--primary);
      color: var(--text-primary);
    }

    > dl {
      padding: 0 0.5rem;
      flex-grow: 1;
      min-width: 0;
      text-align: left;
    }
  }
}