@use 'layers';

@include layers.modules {
  .Library {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;

    > .toolbar {
      display: flex;
      justify-content: space-between;

      > .InputSearch {
        flex-shrink: 1;
        min-width: 0;
      }

      > button {
        aspect-ratio: 1/1;
        height: 100%;
      }
    }
  }
}