@use 'layers';

@include layers.modules {
  .SettingsNavigation {
    background-color: var(--surface-medium);

    > ul > li {
      > button {
        padding: 0.75em 1em;
      }

      &.active {
        background-color: var(--primary);

        > button {
          color: var(--text-primary);
          fill: var(--text-primary);
        }
      }
    }
  }
}