@use 'mixins';
@use 'typography';

.AppBar {
  display: flex;
  align-items: center;
  gap: 0.125em;
  color: var(--text);
  background-color: var(--panel);

  > img {
    -webkit-app-region: drag;
    flex-shrink: 0;

    @media (prefers-color-scheme: dark) {
      &.light {
        display: none
      }
    }

    @media (prefers-color-scheme: light) {
      &.dark {
        display: none
      }
    }
  }

  > .title {
    -webkit-app-region: drag;
    text-align: center;
    flex-grow: 1;
  }

  > nav {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    height: 100%;

    > button {
      height: 100%;
      width: 3rem;

      @include mixins.hover {
        &.close {
          background-color: var(--secondary);
        }
      }
    }
  }
}