@use 'utils.scss';
@use 'typography.scss';

body > header {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--app-bar);

  > img {
    -webkit-app-region: drag;
    flex-shrink: 0;

    @media (prefers-color-scheme: dark) {
      &.light {
        display: none
      }
    }

    @media (prefers-color-scheme: light) {
      &.dark {
        display: none
      }
    }
  }

  > .title {
    @include typography.size(13);
    @include typography.nowrap;
    -webkit-app-region: drag;
    text-align: center;
    flex-grow: 1;
  }

  > button {
    width: 40px;
    height: 100%;
  }

  > nav {
    position: relative;
    flex-shrink: 0;
    height: 100%;

    > ul {
      display: flex;
      align-items: center;
      height: 100%;

      > li {
        height: 100%;

        > button {
          width: 40px;
          height: 100%;

          @include utils.hover {
            &.close {
              fill: var(--text-error);
              background-color: var(--error);
            }
          }

          &[aria-expanded='true'] {
            fill: var(--text);
            background-color: var(--hover);
          }
        }
      }
    }
  }
}