@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .HomeNavigation {
    display: flex;
    flex-direction: column;

    button {
      padding: 8px;

      &.active {
        background-color: var(--primary);
        fill: var(--text-primary);
      }

      &.playlist {
        width: 100%;
        padding: 0;

        > .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 100%;
          aspect-ratio: 1/1;
          background-color: var(--surface-high);
        }
      }
    }
  }
}