@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .LibraryAlbums {
    display: flex;
    flex-direction: column;
    min-height: 0;

    > .InputSearch {
      padding: 0.5em;
    }

    > .toolbar {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5em;
      padding-bottom: 0.25em;

      > .meta > span {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;

        + span {
          margin-left: 0.5em;
        }
      }
    }
  }
}