@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .LibraryAlbums {
    display: flex;
    flex-direction: column;
    min-height: 0;

    > .InputSearch {
      padding: 0.5em;
    }

    > .toolbar {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5em;
      padding-bottom: 0.25em;

      > .meta > span {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;

        + span {
          margin-left: 0.5em;
        }
      }
    }

    > .VirtualList .VirtualItem > article {
      > .header {
        display: flex;
        align-items: center;
        gap: 0.5em;

        > .actions {
          flex-shrink: 0;
        }

        > .hr {
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--text-inactive);
          flex-shrink: 1;
        }
      }

      > ol {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);

        > li {
          display: flex;
          align-items: center;
          height: var(--height);

          > .meta > p {
            @include typography.clamp(2);
          }

          > button {
            height: 100%;
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }
}