@import '~/src/client/scss/utils.scss';

.WindowTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  min-width: 0;
  flex-grow: 1;
  -webkit-app-region: drag;
  color: var(--text-primary);

  > p {
    @media (max-width: $sm) {
      display: none;
    }
  }
}