@import '~/src/client/scss/utils.scss';

.VirtualListItem {
  display: flex;
  align-items: center;
  padding: 4px;
  background-color: var(--list-item);
  transition: color $transitionShortest, background-color $transitionShortest;

  &:hover {
    background-color: var(--list-item-hover);
  }

  &.active {
    background-color: var(--primary);

    &:hover {
      background-color: var(--primary-active);
    }

    > .index {
      color: var(--primary-contrast-secondary);
    }

    > .label {
      > .primary {
        color: var(--primary-contrast);
      }

      > .secondary {
        color: var(--primary-contrast-secondary);
      }
    }
  }

  @media (min-width: $sm) {
    padding: 4px 8px;
  }

  > .index {
    min-width: 32px;
    margin-right: 8px;
    color: var(--text-secondary);
  }

  > .label {
    display: flex;
    flex-direction: column;
    min-width: 0;

    > p {
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    > .primary {
      color: var(--text-primary);
    }

    > .secondary {
      color: var(--text-secondary);
    }
  }
}