$xs-w: 320px;
$sm-w: 480px;
$md-w: 720px;
$lg-w: 960px;
$xl-w: 1280px;

$xs-h: 240px;
$sm-h: 320px;
$md-h: 480px;
$lg-h: 720px;
$xl-h: 960px;

$w: (
  "xsw": $xs-w,
  "smw": $sm-w,
  "mdw": $md-w,
  "lgw": $lg-w,
  "xlw": $xl-w
);

$h: (
  "xsh": $xs-h,
  "smh": $sm-h,
  "mdh": $md-h,
  "lgh": $lg-h,
  "xlh": $xl-h
);