html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  list-style: none;
}

button {
  border: unset;
  background: unset;
  font: inherit;
  color: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
  margin: unset;
  padding: unset;
  background-color: unset;
  color: inherit;
  border: unset;
  min-width: 0;
}