@use 'breakpoints';
@use 'sass:math';

@function pxToRem($size) {
  @return #{math.div($size, 16)}rem;
}

@mixin clamp($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
