@use 'utils';
@use 'breakpoint';

.AppNavigation {
  display: flex;
  background-color: var(--app-bar);

  > button {
    padding: 0.5em 0.75em;

    &:last-child {
      margin-left: auto;
    }

    &.active {
      fill: var(--text);
    }
  }
}