@use 'typography';

.AppNavigation {
  display: flex;
  flex-direction: column;
  background-color: var(--app-bar);

  > button {
    font-size: typography.pxToRem(14);
    padding: 6px 10px;

    &:last-child {
      margin-top: auto;
    }

    &.active {
      fill: var(--text);
      background-color: var(--primary);
    }
  }
}