@use 'typography';

@use 'layers';

@include layers.modules {
  .AppNavigation {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-medium);

    > button {
      padding: 6px 10px;

      &:last-child {
        margin-top: auto;
      }

      &.active {
        fill: var(--text);
        background-color: var(--primary);
      }
    }
  }
}