@use 'layers';

@include layers.views {
  .LabelView {
    display: flex;
    flex-direction: column;

    > .toolbar {
      display: flex;
      justify-content: space-between;

      > .status {
        display: flex;
        gap: 8px;
        margin: 4px 0;

        > span {
          display: flex;
          align-items: center;
          gap: 2px;
        }
      }

      > .actions {
        display: flex;
        gap: 4px;

        > button {
          padding: 4px;
        }
      }
    }

    > .VirtualList > ul > li > button {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }
  }
}