@use 'typography';
@use 'breakpoints';
@use 'layers';

@include layers.modules {
  .PlayerControls {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.25em;

    > button {
      fill: var(--light-3);

      &:hover {
        fill: var(--white);
      }
    }
  }
}