@import '~/src/client/scss/utils.scss';

.WindowNavigation {
  &.root {
    display: flex;

    > button {
      display: flex;
      align-items: center;
      min-width: 40px;
      padding: 0 8px;
      color: var(--text-disabled);
      transition: color $transitionShortest, background-color $transitionShortest;

      &:hover {
        color: var(--text-primary);
        background-color: var(--hover);
      }

      &.active {
        color: var(--text-primary);
        background-color: var(--hover);
      }
    }
  }

  &.Popper > .menu {
    max-width: $xs;
    max-height: calc(100vh - 32px);
    overflow: auto;

    @media (min-width: $sm) {
      max-width: $sm;
    }

    @media (min-width: $md) {
      max-width: $md;
    }

    @media (min-width: $lg) {
      max-width: $lg;
    }

    @media (min-width: $xl) {
      max-width: $xl;
    }

    > .MenuItem {
      width: 100%;
      max-width: $xs;

      @media (min-width: $sm) {
        max-width: $sm;
      }
  
      @media (min-width: $md) {
        max-width: $md;
      }
  
      @media (min-width: $lg) {
        max-width: $lg;
      }
  
      @media (min-width: $xl) {
        max-width: $xl;
      }
    }
  }
}