@use 'breakpoints';

.Player {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  > .PlayerCover {
    position: absolute;
  }

  > .body {
    display: grid;
    grid-template-rows: 1fr auto;
    isolation: isolate;
    aspect-ratio: 1/1;

    > .PlayerMeta {
      align-self: center;
      min-width: 0;
    }
  }
}