@use 'typography';
@use 'breakpoint';
@use 'utils';

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--text);
  fill: var(--text);
  background-color: var(--bg);
  overflow: hidden;
  @include typography.size(13);

  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;

    > div {
      flex-grow: 1;
      overflow: auto;
    }

    > nav {
      background-color: var(--app-bar);

      > ul {
        display: flex;

        > li {
          display: inline-flex;

          > button {
            padding: 4px 8px;

            @media (min-width: breakpoint.$sm-w) and (min-height: breakpoint.$sm-h) {
              padding: 8px 12px;
            }

            > .Icon {
              @media (min-width: breakpoint.$sm-w) and (min-height: breakpoint.$sm-h) {
                width: utils.rem(20);
              }
            }
          }

          &.active > button {
            fill: var(--text);
          }

          &:last-child {
            margin-left: auto;
          }
        }
      }
    }
  }
}