@use 'typography';
@use 'breakpoints';

@use './appHeader/appHeader.scss';
@use './appNavigation/appNavigation.scss';

body {
  @include typography.caption;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--text);
  fill: var(--text);
  background-color: var(--bg);
  overflow: hidden;

  > main {
    display: flex;
    flex-grow: 1;
    max-height: 100%;
    overflow: auto;

    > .View {
      flex-grow: 1;
      overflow: auto;
    }

    > .PlayerBar {
      display: none;
      padding: 4px 8px;

      @media (min-height: breakpoints.$md-h) and (min-width: breakpoints.$sm-w) {
        display: grid;
      }
    }
  }
}