@use 'breakpoint';
@use 'typography';
@use 'utils';

.PlayerView {
  display: flex;
  flex-direction: column;

  @media (aspect-ratio >= 1 / 1) {
    flex-direction: row;
  }

  > .PlayerCover {
    flex: 1;
  }

  > .panel {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding: 8px;

    @media (min-width: breakpoint.$sm-w) and (min-height: breakpoint.$md-h) {
      padding: 16px;
    }

    @media (min-width: breakpoint.$md-w) and (min-height: breakpoint.$lg-h) {
      padding: 32px;
    }

    > .PlayerMetadata {
      flex-grow: 1;
    }
  }
}