@use 'breakpoint';
@use 'typography';
@use 'utils';

.PlayerView {
  display: flex;
  flex-direction: column;

  > .metadata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    flex-grow: 1;

    > .PlayerCover {
      flex-grow: 1;
    }

    > .PlayerMetadata {
      padding: 8px;
      min-width: 0;

      > span {
        @include typography.nowrap;
      }
    }
    
    @media (aspect-ratio < 1 / 1) {
      display: flex;
      flex-direction: column;
    }
  }

  > .controls {
    padding: 4px 8px;

    > .buttons {
      display: flex;
      gap: 0.25em;
      justify-content: center;
      font-size: utils.pxToRem(16);

      > button {
        padding: 0.25em;
      }
    }
  }
}