@use 'breakpoint';

.PlayerView {
  display: grid;
  grid-template-columns: 1fr 1fr;

  > .panel {
    overflow: auto;

    &.meta {
      display: flex;
      flex-direction: column;

      > .PlayerCover {
        flex-grow: 1;
      }

      > .PlayerMeta {
        padding: 2px 4px;
      }
  
      > .PlayerControls {
        padding-bottom: 8px;
      }
    }
  }
}