@use 'breakpoints';
@use 'layers';

@include layers.modules {
  .PlayerCover {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;

    > .bg {
      position: absolute;
    }

    > .body {
      display: grid;
      grid-template-rows: 1fr auto;
      background-color: var(--black-opaque);
      color: var(--white);
      padding: 1rem;
      isolation: isolate;
      aspect-ratio: 1/1;

      > .metadata {
        align-self: center;
        text-align: center;
        min-width: 0;
      }

      > .controls > .PlayerControls {
        margin-bottom: 0.5rem;
      }
    }
  }
}