@use 'layers';

@include layers.components {
  .Collapse {
    > button {
      display: flex;
      justify-content: space-between;
      gap: 0.5em;

      &[aria-expanded="false"] ~ .body {
        display: none;
      }
    }
  }
}