@use 'layers';

@include layers.modules {
  .Navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-medium);
    overflow: auto;

    > button {
      padding: 0.75em 1em;

      &:last-child {
        margin-top: auto;
      }

      &.active {
        fill: var(--text);
        background-color: var(--primary);
      }
    }
  }
}