@use 'utils.scss';
@use 'transition.scss';

%input-checked {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  cursor: pointer;

  > input {
    position: relative;
    border: 2px solid var(--text);
    width: 16px;
    flex-shrink: 0;
    aspect-ratio: 1/1;

    &::after {
      content: '';
      position: absolute;
      width: 8px;
      aspect-ratio: 1/1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color transition.$fast;
    }

    &:checked::after {
      background-color: var(--text);
    }
  }
}
