@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .Library {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;

    > .toolbar {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5em;
      padding-bottom: 0.25em;

      > .meta > span {
        display: inline-flex;
        align-items: center;
        gap: 0.25em;

        + span {
          margin-left: 0.5em;
        }
      }
    }

    > .VirtualGrid .VirtualItem > article {
      &.label {
        display: flex;
        align-items: center;
        gap: 0.5em;

        > .actions {
          flex-shrink: 0;
        }

        > .hr {
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--text-inactive);
          flex-shrink: 1;
        }
      } 
      
      &.album {
        display: flex;
        align-items: center;
        height: var(--height);

        &.active {
          background-color: var(--primary);
          color: var(--text-primary);
        }

        > .meta > p {
          @include typography.clamp(2);
        }

        > button {
          height: 100%;
          flex-shrink: 0;
        }
      }
    }
  }
}