:root {
  @media (prefers-color-scheme: dark) {
    --text: #edf2f5;
    --text-inactive: rgb(from var(--text) r g b / 25%);
    --background: #1c1f21;
    --primary: #674d84;
    --secondary: #503e6b;
    --accent: #a67bb3;
    --panel: rgb(from var(--text) r g b / 5%);
  }

  @media (prefers-color-scheme: light) {
    --text: #09070c;
    --text-inactive: rgb(from var(--text) r g b / 25%);
    --background: #fcfbfd;
    --primary: #957bb2;
    --secondary: #d0aeca;
    --accent: #b580a3;
    --panel: rgb(from var(--background) r g b / 5%);
  }
}