:root {
  @media (prefers-color-scheme: dark) {
    --text: #e8e8e9;
    --background: #1c1f21;
    --primary: #674d84;
    --secondary: #633e75;
    --accent: #9f62ac;
  }

  @media (prefers-color-scheme: light) {
    --text: #161617;
    --background: #dee1e3;
    --primary: #957bb2;
    --secondary: #af8ac1;
    --accent: #8f539d;
  }

  --text-inactive: color-mix(in srgb, var(--background) 50%, var(--text));
  --panel: color-mix(in srgb, var(--background) 90%, var(--text));
}