@import '~/src/client/scss/utils.scss';

.Popper {
  background-color: var(--popper);
  box-shadow: $shadow3;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transitionShortest;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  > .arrow {
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
  }
}