@use 'typography.scss';
@use 'variables.scss' as v;

.Splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  > .title {
    margin-top: 8px;
  }
}