@import '~/src/client/scss/utils.scss';

.WindowButtons {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;

  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    padding: 0 8px;
    color: var(--text-disabled);
    transition: color $transitionShortest, background-color $transitionShortest;

    &:hover {
      color: var(--text-primary);
      background-color: var(--hover);
    }

    &.close:hover {
      background-color: var(--error);
    }
  }
}