.InputSearch {
  display: flex;
  align-items: center;
  background-color: var(--popup);
  padding: 4px;
  gap: 4px;

  > input {
    flex-grow: 1;

    &::placeholder {
      color: var(--hover);
    }
  }
}