@use 'typography';
@use 'breakpoint';

.PlayerMetadata {
  > span {
    @include typography.nowrap;
    @include typography.caption;
    display: block;

    &.title {
      @include typography.body;
      font-weight: 500;
    }

    &.queue {
      display: flex;
      align-items: center;
      gap: 0.25em;
      margin-top: 0.375em;
    }

    + span {
      margin-top: 0.125em;
    }
  }
}