@use 'typography';
@use 'breakpoints';

.PlayerMetadata {
  > span {
    @include typography.nowrap;
    @include typography.caption-dynamic;
    display: block;

    &.title {
      @include typography.heading-dynamic;
      font-weight: 500;
    }

    + span {
      margin-top: 0.125em;
    }
  }
}