@use 'mixins';
@use 'transitions';
@use 'typography';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color transitions.$fast;

  @include mixins.hover {
    cursor: pointer;
    background-color: var(--text-inactive);
  }

  &:has(svg) {
    fill: var(--text-inactive);
    color: var(--text-inactive);
    transition: background-color transitions.$fast, color transitions.$fast;
    padding: 0.25em;

    > svg > path {
      transition: fill transitions.$fast;
    }

    @include mixins.hover {
      fill: var(--text);
      color: var(--text);
    }
  }
}
