@use 'utils';
@use 'transition';
@use 'typography';

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color transition.$fast;

  @include utils.hover {
    cursor: pointer;
    background-color: var(--hover);
  }

  &:has(svg) {
    @include typography.icon;
    fill: var(--text-inactive);

    > svg > path {
      transition: fill transition.$fast;
    }

    @include utils.hover {
      fill: var(--text);
    }
  }
}