dl {
  &.horizontal {
    display: flex;
    gap: 0.5em;

    > div {
      display: flex;
      gap: 0.25em;

      + div {
        min-width: 0;

        &::before {
          content: '•';
          margin-right: 0.25em;
        }
      }
    }
  }
}