body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);

  > main {
    flex-grow: 1;
  }
}

*:focus-visible {
  outline: 2px solid var(--text-normal);
  outline-offset: 2px;
}