@use 'layer.scss';

html {
  font-family: NotoSansJP, sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: var(--scrollbar);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

*:focus-visible {
  position: relative;
  outline: 2px solid var(--text);
  outline-offset: 2px;
  isolation: isolate;
  z-index: layer.$focus;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}