@use 'layers';

html {
  font-family: NotoSansJP, sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: var(--surface-high);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}