@use 'layer.scss';

*::-webkit-scrollbar {
  width: 12px;
  background-color: var(--scrollbar);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

*:focus-visible {
  position: relative;
  outline: 2px solid var(--text);
  outline-offset: 2px;
  isolation: isolate;
  z-index: layer.$focus;
}

.hidden {
  display: none;
}