:where(:not(html, iframe, canvas, img, svg *, video *)) {
  all: unset;
  display: revert;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

::placeholder {
  color: unset;
}