html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: unset;
}

button {
  padding: unset;
  border: unset;
  background: unset;
  font: inherit;
  color: inherit;
}

ul, ol, dl {
  margin: unset;
  padding: unset;
}

dd {
  margin: unset;
}

li {
  list-style: none;
}