@media (prefers-color-scheme: dark) {
  :root{
    --black: #040405;
    --white: #f6f6f7;
    --hover: #f6f6f71a;
    --overlay: #04040580;
    --grey100: #18191c;
    --grey200: #202225;
    --grey300: #36393f;
    --grey400: #4f545c;
    --grey500: #72767d;
    --grey600: #b9bbbe;
    --grey700: #dcddde;
    --error: #f04747;
    --bg: var(--grey200);
    --popup: var(--grey300);
    --title-bar: var(--grey100);
    --text-normal: var(--grey700);
    --text-inactive: var(--grey500);
    --text-error: var(--text-normal);
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --black: #060607;
    --white: #f8f9f9;
    --hover: #06060713;
    --overlay: var(--hover);
    --grey100: #23262a;
    --grey200: #2e3338;
    --grey300: #4f5660;
    --grey400: #747f8d;
    --grey500: #9099a4;
    --grey600: #c7ccd1;
    --grey700: #e3e5e8;
    --error: #f04747;
    --bg: var(--white);
    --popup: var(--grey700);
    --title-bar: var(--grey700);
    --text-normal: var(--grey100);
    --text-inactive: var(--grey300);
    --text-error: var(--text-normal);
  }
}
