:root {
  @media (prefers-color-scheme: dark) {
    // colours
    --black: #040405;
    --white: #f6f6f7;
    --hover: #f6f6f71a; // 10%
    --overlay: #04040580; // 50%
    --grey100: #18191c;
    --grey200: #202225;
    --grey300: #272a2e;
    --grey400: #3b3f45;
    --grey500: #4F545C;
    --grey600: #b9bbbe;
    --grey700: #dcddde;
    --primary: #664d82;
    --primary-hover: #664d8255; // 33%
    --error: #f04747;
    // components
    --bg: var(--grey200);
    --popup: var(--grey300);
    --app-bar: var(--grey100);
    --text: var(--grey700);
    --text-inactive: var(--grey500);
    --text-error: var(--white);
    --text-primary: var(--white);
    --settings: var(--grey300);
    --settings-menu: var(--grey200);
    --scrollbar: var(--grey400);
    --scrollbar-thumb: var(--grey500);
  }

  @media (prefers-color-scheme: light) {
    // colours
    --black: #060607;
    --white: #f8f9f9;
    --hover: #06060713; // 4%
    --overlay: var(--hover);
    --grey100: #23262a;
    --grey200: #2e3338;
    --grey300: #4f5660;
    --grey400: #747f8d;
    --grey500: #9099a4;
    --grey600: #d7dbde;
    --grey700: #e8eaec;
    --primary: #664d82;
    --primary-hover: #664d8255; // 33%
    --error: #f04747;
    // components
    --bg: var(--white);
    --popup: var(--grey700);
    --app-bar: var(--grey700);
    --text: var(--grey100);
    --text-inactive: var(--grey300);
    --text-error: var(--white);
    --text-primary: var(--white);
    --settings: var(--white);
    --settings-menu: var(--grey600);
    --scrollbar: var(--grey600);
    --scrollbar-thumb: var(--grey500);
  }
}