:root {
  --font-tiny: 0.625rem;
  --font-small: 0.75rem;
  --font-normal: 0.8125rem;
  --font-large: 1rem;
}

.font-tiny {
  font-family: NotoSansJP, sans-serif;
  font-size: var(--font-tiny);
  letter-spacing: 0.03125rem;
}

.font-small {
  font-family: NotoSansJP, sans-serif;
  font-size: var(--font-small);
  letter-spacing: 0.015625rem;
}

.font-normal {
  font-family: NotoSansJP, sans-serif;
  font-size: var(--font-normal);
  letter-spacing: 0.03125rem;
}

.font-large {
  font-family: NotoSansJP, sans-serif;
  font-size: var(--font-large);
  letter-spacing: 0.015625rem;
}