@use 'breakpoints';

$breakpoints-w: (
  "xsw": breakpoints.$xs-w,
  "smw": breakpoints.$sm-w,
  "mdw": breakpoints.$md-w,
  "lgw": breakpoints.$lg-w,
  "xlw": breakpoints.$xl-w
);

$breakpoints-h: (
  "xsh": breakpoints.$xs-h,
  "smh": breakpoints.$sm-h,
  "mdh": breakpoints.$md-h,
  "lgh": breakpoints.$lg-h,
  "xlh": breakpoints.$xl-h
);

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  @each $breakpoint, $width in $breakpoints-w {
    .#{$breakpoint}-hidden {
      @media (max-width: $width) {
        display: none;
      }
    }
  }

  @each $breakpoint, $height in $breakpoints-h {
    .#{$breakpoint}-hidden {
      @media (max-height: $height) {
        display: none;
      }
    }
  }
}
