@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .MainView {
    display: grid;
    grid-template-columns: auto 210px minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    overflow: auto;
    flex-grow: 1;

    > .panel {
      display: flex;
      flex-direction: column;
    }
  }
}