@use 'layers';

@include layers.modules {
  .PlayerVolume {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .label {
      display: none;
    }

    &:hover > .label {
      display: block;
    }
  }
}