@use 'mixins';
@use 'typography';
@use 'breakpoints';
@use 'transitions';

@use './settingsAppearance/settingsAppearance.scss';
@use './settingsLibrary/settingsLibrary.scss';

.SettingsView {
  > .Tabs {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
    background-color: var(--settings);
  
    > [role='tablist'] {
      position: sticky;
      top: 0;
      height: 100%;
      background-color: var(--settings-menu);
      
      @media (min-width: breakpoints.$sm-w) {
        padding: 16px;
      }
  
      > li {
        + li {
          @media (min-width: breakpoints.$sm-w) {   
            margin-top: 2px;
          }
        }
  
        > button {
          padding: 8px 12px;
          width: 100%;
          transition: background-color transitions.$fast;
          justify-content: flex-start;
  
          @include mixins.hover {
            background-color: var(--primary-hover);
          }
          
          @media (min-width: breakpoints.$sm-w) {
            border-radius: 4px;
          }
  
          &[aria-selected='true'] {
            background-color: var(--primary);
            color: var(--text-primary);
            fill: var(--text-primary);
          }
        }
      }
    }
  
    > [role='tabpanel'] {
      padding: 8px 12px;
      overflow: auto;
  
      &.hidden {
        display: none;
      }
  
      @media (min-width: breakpoints.$md-w) {
        padding: 16px 32px;
      }
  
      > .title {
        @include typography.heading;
        margin-bottom: 8px;
      }
    }
  
    > button {
      position: sticky;
      flex-direction: column;
      top: 0;
      padding: 4px;
      margin: 8px;
      gap: 2px;
      border-radius: 4px;
      color: var(--text-inactive);
  
      @media (min-width: breakpoints.$md-w) {
        margin: 16px 20px;
      }
  
      @include mixins.hover {
        color: var(--text);
        background-color: unset;
      }
  
      > span {
        transition: color transitions.$fast;
      }
    }
  }
}