.ButtonVolume {
  &.Popper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    width: 28px;
    height: 90px;
    background-color: var(--input-text);
    color: var(--text-primary);
  }
}