@use 'mixins';
@use 'typography';
@use 'breakpoints';
@use 'transitions';

.Settings {
  display: grid;
  grid-template-columns: auto 1fr auto;

  > section {
    padding: 1em;
    overflow: auto;
  }

  > .actions {
    padding: 1em;
  }
}