.LabelToggle {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  color: var(--text-primary);
  
  > .text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    flex-grow: 1;

    > .description {
      color: var(--color-secondary);
    }
  }
}