@use 'breakpoints';
@use 'layers';

@include layers.modules {
  .PlayerMetadata {
    > span {
      display: block;

      &.title {
        font-weight: 500;
      }

      + span {
        margin-top: 0.125em;
      }
    }
  }
}