.input-folder {
  fieldset {
    padding: 1rem;
    border: 1px solid var(--text-inactive);

    > span {
      color: var(--text-inactive);
    }

    ul > li input {
      margin-right: 0.5em;
    }
  }

  .toolbar {
    margin-top: 0.5em;

    button + button {
      margin-left: 0.5em;
    }
  }
}