@use 'typography.scss';
@use 'breakpoints.scss';

.ScanView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 16px;
  text-align: center;

  > .Loader {
    height: 30px;
    margin-bottom: 8px
  }

  > .title {
    @include typography.heading;

    margin-bottom: 1em;
  }

  > .file {
    @include typography.caption;
    @include typography.clamp(3);
    $line-height: 1.3em;
    
    line-height: $line-height;
    margin-top: 0.5em;
    height: $line-height * 3;
  }  
}