@use 'typography';

.SongView {
  display: flex;
  flex-direction: column;

  > .VirtualList > ul > li > button {
    $padding: 4px;

    display: flex;
    align-items: center;
    padding: $padding;
    gap: 4px;
    width: 100%;

    > img {
      height: calc($padding - (2 * $padding));
      aspect-ratio: 1 / 1;
    }

    > .metadata {
      flex-grow: 1;
      min-width: 0;

      > p {
        @include typography.nowrap;
      }
    }

    > .duration {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
    }
  }
}