.SongView {
  display: flex;
  flex-direction: column;

  > .VirtualList > ul > li > button {
    --item-padding: 4px;

    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--item-padding);
    gap: 4px;

    > img {
      height: calc(var(--item-height) - (2 * var(--item-padding)));
      aspect-ratio: 1/1;
    }

    > .metadata {
      flex-grow: 1;
    }

    > .duration {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
    }
  }
}