@use 'typography';

.PlayerSlider {
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  > .time {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5em;
  }

  > .Slider > .track {
    background-color: var(--panel);
  }
}