@use 'typography.scss';

@use 'layers';

@include layers.modules {
  .Load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .title {
      margin-top: 8px;
    }
  }
}