.Library > nav {
  background-color: var(--app-bar);

  > ul {
    display: flex;

    > li {
      display: inline-flex;

      > button {
        padding: 4px 8px;
      }

      &.active > button {
        fill: var(--text);
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }
}