@use 'variables.scss' as v;
@use 'utils.scss';

.InputRadio {
  > legend {
    margin-bottom: 4px;
  }

  > label {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;

    @include utils.hover {
      cursor: pointer;

      > input:after {
        background-color: var(--text-inactive);
      }
    }

    + label {
      margin-top: 4px;
    }

    > input {
      position: relative;
      border: 2px solid var(--text);
      border-radius: 50%;
      width: 16px;
      aspect-ratio: 1/1;

      &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 8px;
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: background-color v.$transition-fast;
      }

      &:checked:after {
        background-color: var(--text);
      }
    }
  }
}