@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .Home {
    display: grid;
    grid-template-columns: auto 180px minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    gap: 1px;

    > .player {
      display: flex;
      flex-direction: column;
    }
  }
}