@use 'typography';
@use 'breakpoints';

@use 'layers';

@include layers.modules {
  .Home {
    display: grid;
    grid-template-columns: 210px minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);

    > .player {
      display: flex;
      flex-direction: column;
    }
  }
}