@use 'layers';

@include layers.components {
  .VirtualGrid {
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;

    > ul {
      flex-grow: 1;
      position: relative;

      > li {
        position: absolute;
        overflow: hidden;
      }
    }
  }
}