@use 'layers';

@include layers.components {
  .VirtualList {
    flex-grow: 1;
    overflow: auto;

    > ul {
      position: relative;

      > li {
        list-style: none;
        position: absolute;
        width: 100%;
      }
    }
  }
}